#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/p2.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/p4.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/image2.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

